In [2]:
%%bash 
python3 -m pip install pandasql

Defaulting to user installation because normal site-packages is not writeable
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /Users/996366/Library/Python/3.9/lib/python/site-packages (from pandasql) (2.0.2)
Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.36-cp39-cp39-macosx_11_0_arm64.whl (2.1 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/996366/Library/Python/3.9/lib/python/site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.15.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/996366/Library/Python/3.9/lib/python/site-packages (from sqlalchemy->pandasql) (4.12.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=41160719db60e0f0e93ecab47fbe4c450cb1596eab91395d721ab93d03dc4798
  Stored in directory: /Users/996366/Library/Caches/pip/wheels/63/e8/ec/75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: tzdata, pytz, sqlalchemy, pandas, pandasql
Successfully installed pandas-2.2.3 pandasql-0.7.3 pytz-2024.2 sqlalchemy-2.0.36 tzdata-2024.2

WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [6]:
import pandas as pd
from pandasql import sqldf

pysqldf = lambda q: sqldf(q, globals())

data = {
    "transaction_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "customer_id": [101, 102, 103, 101, 104, 102, 105, 103, 106, 101],
    "product_name": [
        "Laptop", "Mouse", "Desk", "Chair", "Notebook",
        "Keyboard", "Headphones", "Pen", "Monitor", "Lamp"
    ],
    "category": [
        "Electronics", "Electronics", "Furniture", "Furniture",
        "Stationery", "Electronics", "Electronics", "Stationery",
        "Electronics", "Furniture"
    ],
    "price": [
        1000.99, 25.50, 200.00, 150.00, 5.00, 45.00, 75.00, 1.50, 300.00, 50.00
    ],
    "quantity": [1, 2, 1, 2, 5, 1, 1, 10, 1, 1],
    "purchase_date": [
        "2024-12-01", "2024-12-01", "2024-11-30", "2024-11-29", "2024-12-02",
        "2024-12-01", "2024-12-02", "2024-11-28", "2024-11-30", "2024-12-01"
    ]
}

df = pd.DataFrame(data)

example:

LIKE:

In [7]:
query = """
SELECT * 
FROM df 
WHERE product_name LIKE 'L%'
"""
print(pysqldf(query))

   transaction_id  customer_id product_name  ...    price  quantity  purchase_date
0               1          101       Laptop  ...  1000.99         1     2024-12-01
1              10          101         Lamp  ...    50.00         1     2024-12-01

[2 rows x 7 columns]

AND/OR

In [8]:
query = """
SELECT * 
FROM df 
WHERE category = 'Electronics' AND price > 50
"""
print(pysqldf(query))

   transaction_id  customer_id product_name  ...    price  quantity  purchase_date
0               1          101       Laptop  ...  1000.99         1     2024-12-01
1               7          105   Headphones  ...    75.00         1     2024-12-02
2               9          106      Monitor  ...   300.00         1     2024-11-30

[3 rows x 7 columns]

BETWEEN:

In [9]:
query = """
SELECT * 
FROM df 
WHERE price BETWEEN 50 AND 300
"""
print(pysqldf(query))

   transaction_id  customer_id product_name  ...  price  quantity  purchase_date
0               3          103         Desk  ...  200.0         1     2024-11-30
1               4          101        Chair  ...  150.0         2     2024-11-29
2               7          105   Headphones  ...   75.0         1     2024-12-02
3               9          106      Monitor  ...  300.0         1     2024-11-30
4              10          101         Lamp  ...   50.0         1     2024-12-01

[5 rows x 7 columns]

COUNT:

In [10]:
query = """
SELECT COUNT(*) AS transaction_count 
FROM df
"""
print(pysqldf(query))

   transaction_count
0                 10

DISTINCT:

In [11]:
query = """
SELECT DISTINCT category 
FROM df
"""
print(pysqldf(query))

      category
0  Electronics
1    Furniture
2   Stationery